<div class="search">
<form action="/index" method="post">
<input type="text" name="city" class="search-bar" placeholder="Enter City Name">
<button class="searchButton"><i class="fas fa-search"></i></button>
</form>
</div>